@font-face {
  font-family: druk;
  src: url("font/DrukTextWide-Bold.woff") format("woff");
  src: url("font/DrukTextWide-Bold.otf") format("otf");
  src: url("font/DrukTextWide-Bold.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  background: black;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.logo {
  width: auto;
  height: 50px;
  filter: invert(100);
}

header {
  display: flex;
  padding: 50px 10%;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.arrow_container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.text {
  letter-spacing: -0.075em;
  font-size: 10vw;
  color: white;
  font-family: "Inter", sans-serif;
}

.middle_wraper {
  width: 100%;
  height: 1000px;
}

.middle {
  background: url("img/art2-min.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  justify-content: center;
  width: 100%;
  height: 1000px;
}

.middle img {
  width: 100%;
}

.bottom_container {
  color: white;
  background: black;
}

.bottom_flex {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
}

.bottom {
  text-align: center;
  margin: auto;
  font-family: druk;
  justify-content: center;
}

.work {
  font-size: 4vw;
}

.bottom li {
  padding-top: 10px;
  font-size: 1vw;
}

footer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 30px 10%;
}

.logomark {
  width: 100px;
  height: auto;
  filter: invert(100);
}

.balance {
  width: 100px;
  height: auto;
  filter: opacity(0);
}

.emailtext {
  font-family: "druk";
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .work {
    font-size: 10vw;
  }

  .bottom li {
    font-size: 4vw;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    width: auto;
    height: 50px;
    filter: invert(100);
  }

  .header {
    display: flex;
  }

  .hero {
    width: 100%;
    height: 100%;
  }

  .work {
    font-size: 2.5rem;
  }

  .bottom li {
    font-size: 1.5rem;
  }

  .middle {
    background: url("img/art-mob-min.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 75%;
  }

  .middle img {
    width: 100%;
    height: auto;
  }

  footer {
    justify-content: center;
    align-items: center;
    padding: 10%;
    position: absolute;
    width: 100%;
    display: grid;
  }

  .logomark {
    width: 100px;
    height: auto;
    filter: invert(100);
  }

  .balance {
    width: 100px;
    height: auto;
    filter: opacity(0);
  }

  .emailtext {
    font-family: "druk";
    color: white;
    font-size: 1.5rem;
    padding-top: 20px;
  }
}
